<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">Comming Soon</div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-12">
          <h2>LDXCH</h2>
          <p>this will be the text you want.</p>
          <p><a class="btn btn-primary" href="#">View details »</a></p>
        </div>
      </div>
    </div>
    <div class="panel-footer text-center">
      <ul class="list-inline">
        <li><i ></i> copyright reserved </li>
      </ul>
    </div>
  </div>
</div>
<div class="text-center">
</div>
</div>