extends layout

block content  
  div(id="root" style="width: 280px; margin: 40px auto; padding: 10px;")

  script.
    var lock = new Auth0Lock('cUheWwRxm7OLdHBRzlBNhhaI1lxRp6Km', 'rishabh.auth0.com', { auth: {
          redirectUrl: 'http://localhost:3000/callback'
        , responseType: 'code'
        , params: {
          scope: 'openid name email picture'
        }
      }
        , theme: {
            logo: 'https://example.com/assets/logo.png',
            primaryColor: 'green'
        }
        , languageDictionary: {
            title: "My Company"
        }});
    lock.show();

  
